{
   "parser": "@typescript-eslint/parser",
   "plugins": ["@typescript-eslint"],
   "extends": [
      "airbnb-base",
      "plugin:@typescript-eslint/recommended",
      "plugin:@stencil/recommended",
      "prettier",
      "prettier/@typescript-eslint"
   ],
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true
      },
      "ecmaVersion": 2018,
      "project": "./tsconfig.json",
      "sourceType": "module"
   },
   "rules": {
      "eqeqeq": "off",
      "import/extensions": "off",
      "import/prefer-default-export": "off",
      "lines-between-class-members": "off",
      "no-plusplus": "off",
      "spaced-comment": "off",
      "@stencil/ban-side-effects": "off",
      "@stencil/own-methods-must-be-private": "off",
      "@stencil/own-props-must-be-private": "off",
      "@stencil/required-jsdoc": "off",
      "@typescript-eslint/no-object-literal-type-assertion": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/explicit-member-accessibility": "off",
      "@typescript-eslint/no-explicit-any": "off"
   }
}
