{
   "parser": "@typescript-eslint/parser",
   "plugins": ["@typescript-eslint", "react-hooks"],
   "extends": [
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "prettier",
      "prettier/@typescript-eslint"
   ],
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true
      },
      "ecmaVersion": 6,
      "project": "./tsconfig.json",
      "sourceType": "module"
   },
   "rules": {
      "@typescript-eslint/no-object-literal-type-assertion": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/no-non-null-assertion": "off",
      "@typescript-eslint/explicit-member-accessibility": "off",
      "@typescript-eslint/no-explicit-any": "off",
      "react/jsx-uses-react": "warn",
      "react/jsx-uses-vars": "warn"
   }
}
