{
   "parser": "@typescript-eslint/parser",
   "plugins": ["@typescript-eslint", "jest"],
   "extends": [
      "airbnb-base",
      "plugin:@typescript-eslint/recommended",
      "plugin:@stencil/recommended",
      "prettier",
      "prettier/@typescript-eslint"
   ],
   "parserOptions": {
      "ecmaFeatures": {
         "jsx": true
      },
      "ecmaVersion": 2018,
      "project": "./tsconfig.json",
      "sourceType": "module"
   },
   "rules": {
      "eqeqeq": "off",
      "import/extensions": "off",
      "import/no-extraneous-dependencies": "off",
      "import/no-unresolved": "off",
      "import/prefer-default-export": "off",
      "lines-between-class-members": "off",
      "no-plusplus": "off",
      "spaced-comment": "off",
      "no-bitwise": "off",
      "no-cond-assign": "warn",
      "no-nested-ternary": "off",
      "no-new-object": "off",
      "no-param-reassign": "warn",
      "no-return-assign": "warn",
      "no-shadow": "warn",
      "prefer-destructuring": "warn",
      "prefer-template": "off",
      "@stencil/ban-exported-const-enums": "off",
      "@stencil/ban-side-effects": "off",
      "@stencil/own-methods-must-be-private": "off",
      "@stencil/own-props-must-be-private": "off",
      "@stencil/required-jsdoc": "off",
      "@typescript-eslint/explicit-function-return-type": "off",
      "@typescript-eslint/explicit-member-accessibility": "off",
      "@typescript-eslint/no-empty-function": "warn",
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/no-object-literal-type-assertion": "off",
      "@typescript-eslint/no-non-null-assertion": "off"
   },
   "env": {
      "jest/globals": true
   }
}
